@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h6">Genera Systems &mdash; Financials</MudText>
        <MudSpacer />
        <MudButton Href="/projects" Color="Color.Inherit" StartIcon="@Icons.Material.Filled.FolderOpen">
            Projects
        </MudButton>
        <MudButton Href="/projects/confirm" Color="Color.Inherit" StartIcon="@Icons.Material.Filled.Add">
            Confirm
        </MudButton>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
